.main_nav li {
	list-style: none;
	display: inline;
}

.main_nav a {
	color: #FFF;
	text-decoration: none;
}

.button_whatsapp {
	background-color: #34af23 !important;
}

.footer {
	background-color: #333;
	padding: 3rem 1.5rem 2rem;
}